* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -1;
}

h2 {
  margin-top: 30px;
}

/* navigation bar */
.navigation {
  height: 80px;
  background-color: white;
  margin-bottom: 100px;
  line-height: 80px;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 5px 1px #dee2e6;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
}

.navigation ul li {
  width: 16%;
  color: gray;
}

.navigation ul li:hover {
  width: 16%;
  color: #1971c2;
  font-weight: bold;
  text-decoration: underline;
}

.wholepage {
  width: 100%;
  height: 80%;
}
/* profile css */
.profile {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.middle {
  border-left: 1px solid gray;
}

.cartoonprofile {
  background-image: url("images/profile.png");
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: 200px, 200px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.humanprofile {
  width: 100%;
  height: 100%;
}

/* introduction css */

subHead {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

exp,
proj,
skills,
hobbies {
  width: 70%;
  margin-left: 15%;
  display: grid;
  margin-bottom: 100px;
}

/* Projects css */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 40px 40px;
}
.photo {
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image1 {
  background-size: 200px, 150px;
  background-image: url("images/ups.jpeg");
}

.image2 {
  background-size: 200px, 150px;
  background-image: url("images/stock.jpeg");
}

.image3 {
  background-size: 200px, 150px;
  background-image: url("images/proxy.jpeg");
}

.image4 {
  background-size: 200px, 150px;
  background-image: url("images/vr.jpeg");
}

.image5 {
  background-size: 200px, 150px;
  background-image: url("images/engine.jpeg");
}

.projects a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 900;
}

.projectCard {
  border-radius: 10px;
  display: flex;
}

.projectDescription {
  padding: 20px;
}

.color1 {
  background-color: #a5d8ff;
}

.color2 {
  background-color: #74c0fc;
}

.color3 {
  background-color: #4dabf7;
}

.color4 {
  background-color: #339af0;
}

.mainContent {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

/*skills css*/
.skillsflex {
  display: flex;
}

.skillsBox {
  padding-right: 40px;
}

.skillsBox h3 {
  line-height: 2;
}

.coulddo-icon {
  width: 32px;
  height: 32px;
  color: #1971c2;
  text-align: center;
}

/* hobbies css */
.flexLike {
  display: flex;
}

.likes {
  padding-right: 40px;
}

.likeImage {
  height: 150px;
  width: 200px;
}
